{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Meals</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Ingredients </th>
                <th scope="col"> Total meal energy </th>
                <th scope="col"> Author </th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href={% url "kcal:edit-meal" object.id %}>{{object.name}}</a></td>
                <td>{% for i in object.ingredients.all %}<li>{{i.name}}</li>{% endfor %}</td>
                <td>{{object.total_meal_energy}}</td>
                <td>{{object.author}}</td>
            </tr>
            {% empty %}
            <tr><td>Nothing is here. Yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end">
        <a href="{% url 'kcal:add-meal' %}" class="btn btn-primary">Add new Meal</a>
    </div>
</div>
{% endblock %}
        