{% extends "base_generic.html" %}

{% block content %}
    <table>
        <tr>
            <td> Name </td>
            <td> Ingredients </td>
            <td> Total meal energy </td>
            <td> Author </td>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><a href={% url "kcal:edit-meal" object.id %}>{{object.name}}</a></td>
            <td>{% for i in object.ingredients.all %}<li>{{i.name}}</li>{% endfor %}</td>
            <td>{{object.total_meal_energy}}</td>
            <td>{{object.author}}</td>
        </tr>
        {% empty %}
        <tr><td>Nothing is here. Yet.</td></tr>
        {% endfor %}
        <tr><td><a href="{% url 'kcal:add-meal' %}">Add new meal</a></td></tr>
    </table>
{% endblock %}
        